<div id="footer">
  <ul class="navigation round shadow">
    <li><%= link_to_unless_current "terms of use", terms_path %></li> |
    <li><%= link_to_unless_current "help", help_path %></li> |
    <li><%= link_to_unless_current "privacy policy", privacy_path %></li> |
    <li><%= link_to_unless_current "contact", contact_path %></li> |
    <li><%= link_to_unless_current "about", about_path %></li>
  </ul>
</div>

